# Add local environment variables that will be accessible via `Rails.app.creds` here.
#
# This file will not be checked into git by default for security reasons. But if you
# maintain it exclusively as a list of remote lookups, you could add it by changing .gitignore to allow it.
# But then you MUST NOT add any explicit keys here!
#
# SECRET_KEY_BASE=
# ACTIVE_RECORD_ENCRYPTION__PRIMARY_KEY=
# ACTIVE_RECORD_ENCRYPTION__DETERMINISTIC_KEY=
# ACTIVE_RECORD_ENCRYPTION__KEY_DERIVATION_SALT=
